
.login{
    background-color: #00485e;
    border-radius: 10px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
    width: 50%;
    margin-top: 7%;
}
form{
    box-sizing: border-box;
    padding: 1rem;
}

  
.form-group{
    margin-right: 30px;
}

.signButton{
    margin-left: 5px;
}

.btn-primary {
    background-color: #009ac9;
    border-color: #009ac9;
}

.btn-primary:hover {
    background-color: #0081A7;
    border-color: #0081A7;
}